USE [master]
GO
/****** Object:  Database [VeggieShop]    Script Date: 12/01/2026 4:02:42 SA ******/
CREATE DATABASE [VeggieShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VeggieShop', FILENAME = N'D:\Program Files D\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VeggieShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VeggieShop_log', FILENAME = N'D:\Program Files D\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VeggieShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VeggieShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VeggieShop]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/01/2026 4:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryCode] [nvarchar](20) NOT NULL,
	[CategoryName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 12/01/2026 4:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerCode] [nvarchar](20) NOT NULL,
	[CustomerName] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](300) NULL,
	[Points] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsReceiptDetails]    Script Date: 12/01/2026 4:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsReceiptDetails](
	[ReceiptDetailId] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsReceipts]    Script Date: 12/01/2026 4:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsReceipts](
	[ReceiptId] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptCode] [nvarchar](20) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[ReceiptDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/01/2026 4:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Unit] [nvarchar](30) NOT NULL,
	[PurchasePrice] [decimal](18, 2) NOT NULL,
	[SalePrice] [decimal](18, 2) NOT NULL,
	[StockQty] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/01/2026 4:02:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesInvoiceDetails]    Script Date: 12/01/2026 4:02:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesInvoiceDetails](
	[InvoiceDetailId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesInvoices]    Script Date: 12/01/2026 4:02:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesInvoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceCode] [nvarchar](50) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 12/01/2026 4:02:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierCode] [nvarchar](20) NOT NULL,
	[SupplierName] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 12/01/2026 4:02:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/01/2026 4:02:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PasswordHash] [varbinary](32) NOT NULL,
	[PasswordSalt] [varbinary](16) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryCode], [CategoryName], [Description], [IsActive], [CreatedAt]) VALUES (1, N'DM001', N'Rau lá', N'Cải, xà lách, rau muống...', 1, CAST(N'2026-01-11T22:56:06.6867314' AS DateTime2))
INSERT [dbo].[Categories] ([CategoryId], [CategoryCode], [CategoryName], [Description], [IsActive], [CreatedAt]) VALUES (2, N'DM002', N'Củ', N'Khoai tây, cà rốt, củ cải...', 1, CAST(N'2026-01-11T22:56:06.6867314' AS DateTime2))
INSERT [dbo].[Categories] ([CategoryId], [CategoryCode], [CategoryName], [Description], [IsActive], [CreatedAt]) VALUES (3, N'DM003', N'Trái cây', N'Táo, cam, chuối...', 1, CAST(N'2026-01-11T22:56:06.6867314' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [CustomerCode], [CustomerName], [Phone], [Address], [Points], [IsActive], [CreatedAt]) VALUES (1, N'KH001', N'Nguyễn Văn A', N'0901111111', N'Quận 3, TP.HCM', 10, 1, CAST(N'2026-01-11T22:07:52.1397401' AS DateTime2))
INSERT [dbo].[Customers] ([CustomerId], [CustomerCode], [CustomerName], [Phone], [Address], [Points], [IsActive], [CreatedAt]) VALUES (2, N'KH002', N'Trần Thị B', N'0902222222', N'Quận 7, TP.HCM', 0, 1, CAST(N'2026-01-11T22:07:52.1397401' AS DateTime2))
INSERT [dbo].[Customers] ([CustomerId], [CustomerCode], [CustomerName], [Phone], [Address], [Points], [IsActive], [CreatedAt]) VALUES (3, N'KH003', N'Lê Văn C', N'0903333333', N'Thủ Đức, TP.HCM', 25, 1, CAST(N'2026-01-11T22:07:52.1397401' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[GoodsReceiptDetails] ON 

INSERT [dbo].[GoodsReceiptDetails] ([ReceiptDetailId], [ReceiptId], [ProductId], [Quantity], [UnitPrice]) VALUES (1, 1, 2, CAST(12.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[GoodsReceiptDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[GoodsReceipts] ON 

INSERT [dbo].[GoodsReceipts] ([ReceiptId], [ReceiptCode], [SupplierId], [ReceiptDate], [TotalAmount], [Note]) VALUES (1, N'123', 3, CAST(N'2026-01-12T02:19:03.2600000' AS DateTime2), CAST(24000.00 AS Decimal(18, 2)), N'')
SET IDENTITY_INSERT [dbo].[GoodsReceipts] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductCode], [ProductName], [CategoryId], [Unit], [PurchasePrice], [SalePrice], [StockQty], [IsActive], [CreatedAt]) VALUES (1, N'SP001', N'Rau muống', 1, N'kg', CAST(12000.00 AS Decimal(18, 2)), CAST(18000.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), 1, CAST(N'2026-01-11T23:56:07.9995975' AS DateTime2))
INSERT [dbo].[Products] ([ProductId], [ProductCode], [ProductName], [CategoryId], [Unit], [PurchasePrice], [SalePrice], [StockQty], [IsActive], [CreatedAt]) VALUES (2, N'SP002', N'Cà rốt', 2, N'kg', CAST(18000.00 AS Decimal(18, 2)), CAST(25000.00 AS Decimal(18, 2)), CAST(30.00 AS Decimal(18, 2)), 1, CAST(N'2026-01-11T23:56:07.9995975' AS DateTime2))
INSERT [dbo].[Products] ([ProductId], [ProductCode], [ProductName], [CategoryId], [Unit], [PurchasePrice], [SalePrice], [StockQty], [IsActive], [CreatedAt]) VALUES (3, N'SP003', N'Táo đỏ', 3, N'kg', CAST(45000.00 AS Decimal(18, 2)), CAST(60000.00 AS Decimal(18, 2)), CAST(3.00 AS Decimal(18, 2)), 1, CAST(N'2026-01-11T23:56:07.9995975' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Staff')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesInvoiceDetails] ON 

INSERT [dbo].[SalesInvoiceDetails] ([InvoiceDetailId], [InvoiceId], [ProductId], [Quantity], [UnitPrice]) VALUES (1, 1, 2, CAST(2.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[SalesInvoiceDetails] ([InvoiceDetailId], [InvoiceId], [ProductId], [Quantity], [UnitPrice]) VALUES (3, 2, 3, CAST(3.00 AS Decimal(18, 2)), CAST(60000.00 AS Decimal(18, 2)))
INSERT [dbo].[SalesInvoiceDetails] ([InvoiceDetailId], [InvoiceId], [ProductId], [Quantity], [UnitPrice]) VALUES (4, 3, 3, CAST(2.00 AS Decimal(18, 2)), CAST(60000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SalesInvoiceDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesInvoices] ON 

INSERT [dbo].[SalesInvoices] ([InvoiceId], [InvoiceCode], [CustomerId], [InvoiceDate], [TotalAmount], [Note]) VALUES (1, N'1233', 1, CAST(N'2026-01-12T03:25:04.430' AS DateTime), CAST(40000.00 AS Decimal(18, 2)), N'')
INSERT [dbo].[SalesInvoices] ([InvoiceId], [InvoiceCode], [CustomerId], [InvoiceDate], [TotalAmount], [Note]) VALUES (2, N'1234', 3, CAST(N'2026-01-12T03:31:18.903' AS DateTime), CAST(180000.00 AS Decimal(18, 2)), N'')
INSERT [dbo].[SalesInvoices] ([InvoiceId], [InvoiceCode], [CustomerId], [InvoiceDate], [TotalAmount], [Note]) VALUES (3, N'1231', 2, CAST(N'2025-12-16T03:31:18.000' AS DateTime), CAST(120000.00 AS Decimal(18, 2)), N'')
SET IDENTITY_INSERT [dbo].[SalesInvoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierId], [SupplierCode], [SupplierName], [Phone], [Address], [IsActive], [CreatedAt]) VALUES (1, N'NCC001', N'Nông trại An Phú', N'0901234567', N'Quận 1, TP.HCM', 1, CAST(N'2026-01-11T22:07:37.2170609' AS DateTime2))
INSERT [dbo].[Suppliers] ([SupplierId], [SupplierCode], [SupplierName], [Phone], [Address], [IsActive], [CreatedAt]) VALUES (2, N'NCC002', N'Vựa Rau Sạch Minh Tâm', N'0912345678', N'Quận 7, TP.HCM', 1, CAST(N'2026-01-11T22:07:37.2170609' AS DateTime2))
INSERT [dbo].[Suppliers] ([SupplierId], [SupplierCode], [SupplierName], [Phone], [Address], [IsActive], [CreatedAt]) VALUES (3, N'NCC003', N'Hợp tác xã Rau Đà Lạt', N'0923456789', N'Đà Lạt, Lâm Đồng', 1, CAST(N'2026-01-11T22:07:37.2170609' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (1, 1)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [FullName], [PasswordHash], [PasswordSalt], [IsActive], [CreatedAt]) VALUES (1, N'admin', N'Quản trị', 0x527ADE1F838BC2B8FB78F3DB8AA73F8EB5CC7AD30B006B2D92D16A44E248B3F9, 0x0102030405060708090A0B0C0D0E0F10, 1, CAST(N'2026-01-11T20:16:39.8429044' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__371BA9557F7EF9A7]    Script Date: 12/01/2026 4:02:43 SA ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__066785215E9A7159]    Script Date: 12/01/2026 4:02:43 SA ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[CustomerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__GoodsRec__1AB76D0051DB91D6]    Script Date: 12/01/2026 4:02:43 SA ******/
ALTER TABLE [dbo].[GoodsReceipts] ADD UNIQUE NONCLUSTERED 
(
	[ReceiptCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__2F4E024FFF36E0C1]    Script Date: 12/01/2026 4:02:43 SA ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160B059F59C]    Script Date: 12/01/2026 4:02:43 SA ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SalesInv__0D9D7FF3396FF247]    Script Date: 12/01/2026 4:02:43 SA ******/
ALTER TABLE [dbo].[SalesInvoices] ADD UNIQUE NONCLUSTERED 
(
	[InvoiceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Supplier__44BE981B0EF52D43]    Script Date: 12/01/2026 4:02:43 SA ******/
ALTER TABLE [dbo].[Suppliers] ADD UNIQUE NONCLUSTERED 
(
	[SupplierCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E46EA48391]    Script Date: 12/01/2026 4:02:43 SA ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_Points]  DEFAULT ((0)) FOR [Points]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GoodsReceipts] ADD  DEFAULT (sysdatetime()) FOR [ReceiptDate]
GO
ALTER TABLE [dbo].[GoodsReceipts] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Unit]  DEFAULT (N'kg') FOR [Unit]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Purchase]  DEFAULT ((0)) FOR [PurchasePrice]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Sale]  DEFAULT ((0)) FOR [SalePrice]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Stock]  DEFAULT ((0)) FOR [StockQty]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SalesInvoices] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Suppliers] ADD  CONSTRAINT [DF_Suppliers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Suppliers] ADD  CONSTRAINT [DF_Suppliers_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GoodsReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_GRD_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[GoodsReceiptDetails] CHECK CONSTRAINT [FK_GRD_Product]
GO
ALTER TABLE [dbo].[GoodsReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_GRD_Receipt] FOREIGN KEY([ReceiptId])
REFERENCES [dbo].[GoodsReceipts] ([ReceiptId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GoodsReceiptDetails] CHECK CONSTRAINT [FK_GRD_Receipt]
GO
ALTER TABLE [dbo].[GoodsReceipts]  WITH CHECK ADD  CONSTRAINT [FK_GR_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[GoodsReceipts] CHECK CONSTRAINT [FK_GR_Supplier]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[SalesInvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_SalesInvoiceDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[SalesInvoiceDetails] CHECK CONSTRAINT [FK_SalesInvoiceDetails_Products]
GO
ALTER TABLE [dbo].[SalesInvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_SalesInvoiceDetails_SalesInvoices] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[SalesInvoices] ([InvoiceId])
GO
ALTER TABLE [dbo].[SalesInvoiceDetails] CHECK CONSTRAINT [FK_SalesInvoiceDetails_SalesInvoices]
GO
ALTER TABLE [dbo].[SalesInvoices]  WITH CHECK ADD  CONSTRAINT [FK_SalesInvoices_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[SalesInvoices] CHECK CONSTRAINT [FK_SalesInvoices_Customers]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
USE [master]
GO
